.search-form {
    flex: 2;
}

.search-form input[type=text] {
    width: 100%;
    padding: 7px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.search-form button {
    border: none;
    background-color: transparent;
    padding: 10px;
    font-size: 14px;
}

.search-form button:hover {
    color: red;
}