.product-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}
.product-details{
    margin-right: auto;
}
.product-review-container{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.product-image{
    
    width: 200px;
    height: 160px;
}

.review-button {
    background-color: #000;
    color: #fff;
    font-size: 16px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    height: 48px;
    border-radius: 5px;
}

p{
    font-size: 14px;
    font-weight: 400;
}