.profile-title {
    text-transform: uppercase;
    padding: 20px 0;
    border-bottom: 1px solid grey;
    text-align: center;
}
.profile-descript {
    padding: 10px 0;
    margin-left: 20px;
}
.profile-img-container {
    justify-content: center;
    display: flex;
    align-items: center;
    border-left: 1px solid grey
}
/* .profile-img {
    display: flex;
    justify-content: center;
    border-left: 1px solid grey;
    padding: 10px 0;
} */
.profile-img img {
    width: 200px;
    border-radius: 50%;
}