.profile-container{
    padding-left: 20px;
}

.profile-title {
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: 20px;
    
    
}
.profile-descript span {
    font-size: 16px;
}

.profile-descript h4{
    display: inline;
    margin-right: 10px;
}

