.cart-data-field-container {
    align-items: center;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.05);
    color: #888;
    font-size: 14px;
    height: 55px;
    margin-bottom: 12px;
    /* padding: 0 20px; */
}
.cart-data-data-container {
    align-items: center;
    font-size: 14px;
    /* padding: 0 20px; */
}
.cart-data-data, .cart-data-field {
    text-align: center;
}
.cart-data-product {
    text-align:left;
}
.cart-data-product img {
    cursor: pointer;
}
.cart-subtotal {
    display: flex;
    justify-content: center;
    font-size: 14px;
    height: 55px;
    align-items: center;
    font-weight: bold;
}
.remove-btn {
    background-color: transparent;
    border: none;
}
.qty-input-bar {
    display: flex;
    width: fit-content;
    border: 1px solid rgba(0, 0, 0, .09);;
    height: 32px;
}
.qty-btn {
    align-items: center;
    background: transparent;
    border: 0;
    color: rgba(0, 0, 0, .8);
    display: flex;
    font-weight: 300;
    height: 32px;
    justify-content: center;
    font-size: 16px;
    width: 32px;
}
.qty-input-bar input {
    width: 5rem;
    padding: 0 5px;
    text-align: center;
    border-left:1px solid rgba(0, 0, 0, .09);
    border-right:1px solid rgba(0, 0, 0, .09);
    border-top:none ;
    border-bottom:none ;

}