
.cart-data-field-container {
    align-items: center;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.05);
    color: #888;
    font-size: 14px;
    height: 55px;
    margin-bottom: 12px;
    /* padding: 0 20px; */
}
.cart-data-data-container {
    align-items: center;
    font-size: 14px;
    /* padding: 0 20px; */
}
.cart-data-data {
    display: flex;
    justify-content: center;
}
.cart-data-data, .cart-data-field {
    text-align: center;

}
.cart-data-product {
    text-align:left;
    display: block;
}
.cart-data-product img {
    cursor: pointer;
}

.remove-btn {
    background-color: transparent;
    border: none;
}
.qty-select-bar {
    border: 1px solid #ababab;
    padding: 5px;
    padding-right: 12px;
    width: 80px;
}

.cart-subtotal , .place-order-btn , .clear-cart-btn {
    font-size: 2rem;
}
.clear-cart-btn {
    display: flex;
    align-items: center;
    border: 1px solid black;
    padding: 5px 10px;
    background-color: transparent;
    transition: ease 0.5s;
    gap: 1rem;
}
.clear-cart-btn:hover {
    background-color: black;
    color: white;
}
.cart-subtotal {
    margin-left: auto;
}
.place-order-btn button{
    display: block;
    margin-left: auto;
    padding: 5px 26px;
    border: 1px solid black;
    background-color: black;
    color: white;
    transition: 0.2s ease;
    box-sizing: border-box;
}

.place-order-btn button:hover, .empty-cart button:hover
 {
    border: 1px solid black;
    background-color: white;
    color: black;
}

.checkout-box {
    position:sticky;
    bottom:0;
    background-color:white;
    padding-bottom: 2rem;
    border-top: 1px solid rgba(0, 0, 0, .09);
}

.empty-cart {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 70vh;
    gap: 3rem;
}
.empty-cart button {
    font-size: 2rem;
    padding: 5px 20px;
    border: none;
    background-color: black;
    color: white;
}