.profile-container {
    margin-top: 40px;
    margin-bottom: 40px;
}
.title-wrapper {
    padding: 20px 0;
}
.profile-link {
    list-style-type: none;
    font-size: 18px;
}
.profile-link a {
    color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
}
.profile-link a:hover {
    color: black;
}
.profile-link a:focus {
    font-weight: bold;
}

.profile-content {
    border: 1px solid grey;
}

