.teko {
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 3rem;
    font-style: normal;
  }
.nav-wrapper {
    position: fixed;
    z-index: 1001;
    background-color: white;
    width: 100%;
    border-bottom: 1px solid rgb(204, 204, 204);
    padding: 12px 0;
}

.nav-container {
    display: flex;
    align-items: center;
}

.left-nav {
    font-size: 2rem;
    flex: 1;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}

.left-nav a {
    color: black;
    text-decoration: none;
}
.left-nav svg {
    font-size: 4rem;
}


.right-nav {
    flex: 1;
    display: flex;
    font-size: 3rem;
    justify-content: right;
    gap: 5rem;
   

}

.cart-icon, .profile {
    padding: 2rem 0;
    cursor: pointer;
}
.cart-icon {
    position: relative;

}
.cart-icon span{
    position: absolute;
    top: 25px;
    right: -11px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    vertical-align: middle;
    border-radius: 30px;
    background-color: #9C1010;
}
.profile-dropdown {
    display: none;
    right: 0;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.profile-dropdown a {
    color: black;
    padding: 12px 16px;
    font-size: 14px;
    text-decoration: none;
    display: block;
}
.profile-dropdown a:hover {
    background-color: #f1f1f1;
}
.profile:hover .profile-dropdown{
    display: block;
}